.full-thumbnail-coloris .clr-field button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
    display: flex;

    flex-wrap: wrap;
    flex-shrink: 0;
  }

#colorisColorInput{
  display: none;
}

.clr-picker.clr-pill {
  width:auto;
}